body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0e20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    box-sizing: border-box;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 25px;
}

/* Стили для ячеек по умолчанию (закрытые) */
.button {
    background: linear-gradient(45deg, #2c9db9, #166f88);
    border: none;
    border-radius: 10px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(11, 14, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, background 0.6s ease-in-out;
    transform: rotateY(0deg);
}

.button.safe {
    transform: rotateY(180deg);
    background: #e5c72e;
    opacity: 1;
}

.button::after {
    content: "";
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.button.safe::after {
    content: "★";
    color: #FFFF00;
    opacity: 1;
}

/* Остальные стили */
.user-info {
    margin-bottom: 13px;
    padding: 16px;
    background-color: #141b2f;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}

.bomb-label {
    color: #ffffff;
    font-weight: bold;
}

.bomb-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 13px;
    background-color: #141b2c;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.bomb-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #0a0d2d;
    padding: 10px;
    border-radius: 9px;
    box-sizing: border-box;
}

.minus, .plus {
    background-color: #0a0d2d;
    border: none;
    border-radius: 9px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.amount {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.signal-button {
    width: 100%;
    background: linear-gradient(90deg, #0f8ae4, #0855c2);
    border: none;
    border-radius: 9px;
    padding: 13px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, opacity 0.2s;
    box-sizing: border-box;
}

.signal-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}